body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at center, #12042F, #020104);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: aliceblue;
}

.base-node {
  color: #7E64D5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.input-box {
  background-color: transparent;
  border: 2px solid;
  padding: 8px 12px;
  font-size: 14px;
  transition: all 0.2s ease;
  border-color: #7E64D5;
  color: #ffffff;
  border-radius: 7px;
  height: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 12px;
}

.type-box {
  background-color: transparent;
  border: 2px solid;
  padding: 8px 12px;
  font-size: 14px;
  transition: all 0.2s ease;
  border-color: #7E64D5;
  color: #7E64D5;
  height: 35px;
  width: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-top: 8px;


}